.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 170px;
  margin-top: 90px;
}

.companyLogo {
  width: 50%;
  margin-left: 5%; /* Adjust as needed */
  margin-top: -30vh; /* Adjust as needed */
}

.tagline {
  margin-top: 20px; /* Adjust as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .signupContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50%;
  }

  .signupForm, .companyLogo {
    width: 90%; /* Adjust as needed */
    margin: 0;
  }

  .companyLogo {
    margin-top: -20vh; /* Adjust as needed */
  }

  .tagline {
    margin-top: 10px; /* Adjust as needed */
  }
}
@media screen and (max-width: 613px) {
  .signupContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80%;
  }
}