.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 70px;
  margin-top: 90px;
}

.signupForm {
  width: 50%; /* Adjust as needed */
}

.companyLogo {
  width: 50%; /* Adjust as needed */
margin-left: 180px;
margin-top: -240px;
}
.tagline{
  margin-top: -60px;
  margin-left: 20px;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .signupContainer {
    flex-direction: column;
  }

  .signupForm, .companyLogo {
    width: 100%;
  }
}
