/* styles/Blog.module.css */
.blogContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 70px;
}

.coverImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.blogDetails {
  margin-bottom: 20px;
}

.introduction {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.author,
.publishedDate,
.tags {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.content {
  line-height: 1.6;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .blogContainer {
    padding: 10px;
  }
}
