.caseStudyDetailContainer {
  display: flex;
  margin-bottom: 70px;
}

.sidebar {
  width: 40%;
  position:-webkit-fixed ;
  top: 80px; /* Adjust as needed to accommodate the header */
  height: calc(100vh - 200px); /* Ensure full viewport height minus header */
  z-index: 10; /* Keep sidebar above content when sticky */
  padding-left: 15%;
  padding-top: 30px;
}

.content {
  flex: 1;
  padding-right: 20%; /* Adjust padding as needed */
  overflow-y: auto;
  padding-top:2%;
  color:#514E4E;
}

/* Sidebar title styling */
.sidebarTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Section list styling */
.sectionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Section link styling */
.sectionLink {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Content section styling */
.section {
  margin-bottom: 50px;
}

/* Scrollbar styling (optional) */
.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
/* Typography styles */
.titleTypography {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: black;
}