/* CaseDetail.module.css */

/* Container for the entire case study detail */
.caseStudyDetailContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px; /* Adjust as needed */
  overflow: auto; /* Important for proper sticky behavior */
  height: 100vh; /* Set a height to the container */
}


/* Sidebar containing the navigation links */
.sidebar {
  flex: 0 0 40%; /* Sidebar takes 25% width */
  padding: 20px;
  position: sticky;
  top: 0px; /* Stick the sidebar to the top after 40px */
}

@media (max-width: 768px) {
  .sidebar {
    position: static; /* Remove sticky on narrow screens */
  }
  .caseStudyDetailContainer {
    display: flex;
    flex-direction: column; 
    
  }
}

/* Content area */
.content {
  flex: 1; /* Content area takes 75% width */
  padding: 20px;
  padding-right: 20%;
}

/* Centered text within the sidebar */
.centeredText {
  text-align: center; 
}

/* Title styling for the sidebar */
.sidebarTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Style for the section list in the sidebar */
.sectionList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styling for each section link */
.sectionLink {
  cursor: pointer;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.sectionLink:hover {
  background-color: #e0e0e0; /* Lighter gray on hover */
}

.section {
  margin-bottom: 40px; 
}

.section h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
}

#author {
  margin-bottom: 0; 
}
